.dp {
  height: 50px;
  width: 50x;
  border-radius: 50px;
}
.name {
  height: 14px;
  color: rgb(239, 227, 227);
}
.name_box {
  padding-left: 4px;
  margin-top: 2px;
  width: 100px;
}
.input {
  width: 75%;
  height: 30px;
  color: black;
}
